.homepage-container {
  margin-top: -74px;
}
.homepage-content {
  @include centeredText;
  .brand-tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $pink-light;
    .brand-logo {
      font-size: 100px;
    }
    span {
      font-size: 35px;
      margin: 10px;
      font-family: 'Great Vibes', cursive;
    }
    hr {
      background-color: $pink-light;
      width: 100%;
      height: 2px;
      border: none;
    }
  }
}

