//Main Pallete
$green            : #E8F5E9;
$yellow           : #FFE57F;
$yellow-light     : #FFFF66;
$pink             : #FAD4CF;
$pink-light       : #FAF2F2;
$orange           : #FF9E80;
$white            : #FFFFFF;

//Texts
$text             : #333;
$text-size        : 14px;
$text-size-medium : 16px;
$text-size-large  : 22px;

//Layouts
$padding          : 10px;
$padding-large    : 20px;
